# Eat Safe, Love

## Notebook Set Up

In [11]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
db.list_collection_names()

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

In [6]:
# Display an example of a document, to see the fields
establishments.find_one()

{'_id': ObjectId('651ec74a2f6ec55bc2302442'),
 'FHRSID': 1043695,
 'ChangesByServerID': 0,
 'LocalAuthorityBusinessID': 'PI/000073616',
 'BusinessName': 'The Pavilion',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'AddressLine1': 'East Cliff Pavilion',
 'AddressLine2': 'Wear Bay Road',
 'AddressLine3': 'Folkestone',
 'AddressLine4': 'Kent',
 'PostCode': 'CT19 6BL',
 'Phone': '',
 'RatingValue': 5,
 'RatingKey': 'fhrs_5_en-gb',
 'RatingDate': '2018-04-04T00:00:00',
 'LocalAuthorityCode': '188',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'scores': {'Hygiene': 5, 'Structural': 5, 'ConfidenceInManagement': 5},
 'SchemeType': 'FHRS',
 'geocode': {'longitude': Decimal128('1.195625'),
  'latitude': Decimal128('51.083812')},
 'RightToReply': '',
 'Distance': 4591.765489457773,
 'NewRatingPending': False,
 'meta': {'dataSource': None,
  'extractDate': '0001-01-01T00:00:00',
  'itemCount': 0,
  'returncode': None,
  'totalCount': 0,
  'totalPages': 0,
  'pageSize': 0,
  'pageNumber': 0},
 'links': [{'rel': 'self',
   'href': 'https://api.ratings.food.gov.uk/establishments/1043695'}]}

### 1. Which establishments have a hygiene score equal to 20?

In [33]:
# Find the establishments with a hygiene score of 20
hygiene_query = {'scores.Hygiene': {'$gt': 20}}

# Use count_documents to display the number of documents in the result
print(f'Number of documents: {establishments.count_documents(hygiene_query)}\n')

# Display the first document in the results using pprint
first_hygiene = establishments.find_one(hygiene_query)
print("First document:")
pprint(first_hygiene)

Number of documents: 7

First document:
{'AddressLine1': 'Skyline Hotel',
 'AddressLine2': 'Chelmsford Road',
 'AddressLine3': 'Barnston',
 'AddressLine4': 'Dunmow',
 'BusinessName': 'Inferno',
 'BusinessType': 'Takeaway/sandwich shop',
 'BusinessTypeID': 7844,
 'ChangesByServerID': 0,
 'Distance': 4650.02974294374,
 'FHRSID': 1349147,
 'LocalAuthorityBusinessID': '21/00036/COM',
 'LocalAuthorityCode': '122',
 'LocalAuthorityEmailAddress': 'environmentalhealth@uttlesford.gov.uk',
 'LocalAuthorityName': 'Uttlesford',
 'LocalAuthorityWebSite': 'http://www.uttlesford.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CM6 1LP',
 'RatingDate': '2022-01-27T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('651ec74c2f6ec55bc230a5fb'),
 'geocode': {'latitude': Decimal128('51.85643'),
             'longitude': Decimal128('0.383023')},
 'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/1349147',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 25, 'Structural': 20}}

In [29]:
# Convert the result to a Pandas DataFrame
results = establishments.find(query)
results_df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print(f'Number of rows: {results_df.shape[0]}')

# Display the first 10 rows of the DataFrame
results_df.head(10)

Number of rows: 7

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,651ec74c2f6ec55bc230a5fb,1349147,0,21/00036/COM,Inferno,Takeaway/sandwich shop,7844,Skyline Hotel,Chelmsford Road,Barnston,...,0.383023,51.85643,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,651ec74c2f6ec55bc230b02b,785554,0,08/00054/FOOD,Stratford News And Wines,Retailers - other,4613,107 Romford Road,Stratford,London,...,0.008382,51.542772,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,651ec74c2f6ec55bc230b1e1,514156,0,147,The Plough & Harrow,Pub/bar/nightclub,7843,,419 High Road Leytonstone,,...,0.006434,51.558138,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,651ec74c2f6ec55bc230b1ef,514651,0,47178,Chicks,Takeaway/sandwich shop,7844,,497 High Road,,...,0.0071334,51.5593505,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,651ec74c2f6ec55bc230b228,514221,0,17220,The Continental Food Exchange/TFC Leytonstone,Retailers - other,4613,,647-661 High Road Leytonstone,,...,0.009602,51.563902,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,651ec74c2f6ec55bc230b26f,552296,0,63877,O42,Restaurant/Cafe/Canteen,1,,885 High Road Leytonstone,,...,0.014137,51.570848,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,651ec74c2f6ec55bc230b3ee,1351355,0,348976,Busy Bees at Leytonstone,Caring Premises,5,Whipps Cross University Hospital,Whipps Cross Road,,...,0.0034702,51.5774342,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [35]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
london_query = {'LocalAuthorityName': {'$regex': "London"}, 'RatingValue': {'$gte': 4}}

# Use count_documents to display the number of documents in the result
print(f'Number of documents: {establishments.count_documents(london_query)}\n')

# Display the first document in the results using pprint
first_london = establishments.find_one(london_query)
print("First document:")
pprint(first_doc)

Number of documents: 33

First document:
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('651ec74b2f6ec55bc230598e'),
 'geocode': {'latitude': Decimal128('51.369321'),
             'longitude': Decimal128('0.508551')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [36]:
# Convert the result to a Pandas DataFrame
results = establishments.find(london_query)
results_df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print(f'Number of rows: {results_df.shape[0]}')

# Display the first 10 rows of the DataFrame
results_df.head(10)

Number of rows: 33

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,651ec74b2f6ec55bc230598e,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,0.508551,51.369321,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,651ec74b2f6ec55bc2305cb7,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,0.249255999922752,51.1236228942871,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,651ec74b2f6ec55bc2306801,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,0.561954,51.543831,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,651ec74b2f6ec55bc2307602,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,0.346336990594864,51.4640655517578,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,651ec74b2f6ec55bc2307603,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,0.346325,51.464078,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,651ec74b2f6ec55bc2307d07,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,0.287555,51.504071,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,651ec74c2f6ec55bc2309e1c,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,0.069286,51.501121,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,651ec74c2f6ec55bc230a1dc,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,0.048006,51.503733,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,651ec74c2f6ec55bc230a1f9,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,651ec74c2f6ec55bc230a1fa,295107,0,PI/000020749,City Bar & Grill,Restaurant/Cafe/Canteen,1,London City Airport (Airside),London,,...,0.0479655750095844,51.5041122436523,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [50]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score
restaurant = {'BusinessName': "Penang Flavours"}

degree_search = 0.01
latitude = establishments.find_one(restaurant)['geocode']['latitude']
longitude = establishments.find_one(restaurant)['geocode']['longitude']

from decimal import Decimal
query = {
    'RatingValue': 5,
    'geocode.latitude': {'$gte': float(latitude) - degree_search, '$lte': float(latitude) + degree_search},
    'geocode.longitude': {'$gte': longitude - degree_search, '$lte': longitude + degree_search}
}
# sort = 
# limit = 5

# Print the results
pprint(list(establishments.find(query)))

TypeError: float() argument must be a string or a real number, not 'Decimal128'

In [ ]:
# Convert result to Pandas DataFrame

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame